* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow-x: hidden;  
    }


.layout {
  
   width: 100%;
   height: 100vh;
   background-color: whitesmoke;
   display: grid;
   grid-template-columns: 15.625rem 1fr; 
   grid-template-rows: 6.875rem 1fr;
   margin: 0;
   padding: 0;
   
   
}


/****************************/
 .Main {
 grid-row: 2 / -1;
 grid-column: 2 / -1;
 margin: 0;
 padding: 2rem;
 width: 100%;
 overflow-y: auto;

}
/************************






  
  




/*fix the horizontal scrollbar issue*/
/************** SideBar **************/



.sidebar {
  
    background-color: #2c2b27;
    color: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    
    
}

.logo-name {
    margin-bottom: 2.5rem;
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  width: 3.125rem;
  height: 3.125rem;
}


.navigation-bar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1.25rem;
    margin-top: 1.875rem;
    

}


  .sidebar a {
  
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.875rem 0.625rem 0.3125rem;
    transition: background-color 0.3s;
    display:flex;
    align-items: center;
    border-radius: 5px;
}

.sidebar-icon{

    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
    
}


.navigation-bar a:hover, .settings a:hover {
    background-color: #44433f;
}
/****************/
.settings {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 80%;
    bottom: 1.25rem ;
}
.settings a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 0.3125rem 0.625rem 0.3125rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.night-mode {
 
  display: flex;
  align-items: center;
}


/************** TopBar **************/


.topbar {
 background-color: #2c2b27;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left:  1.25rem;
 padding-right:  1.25rem;
 grid-column: 2 / -1;
 grid-row: 1 / 2;
 
}

.topbar h1 {
    color: white;
    font-size: 1.5rem;
}

.topbar-elements {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topbar-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;

}


.search-bar {
    height: 1.5rem;
    width: 10em;

}



/************** Dashboard **************/

.Dashboard {
  
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  
  
}




.Cards {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0rem; 
  min-width: 70%;
}

.Card {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 20px;
}

.Card h3 {
  font-size: 1rem;
}

.Number {
 font-weight:700;
 
 font-size: 3rem;
}



.Upcoming-Posts {
 grid-column: 1 / 2;
 grid-row: 2 / -1;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
 display: flex;
 flex-direction: column;
 gap: 10px;
 background-color: white;
 border-radius: 20px;
 padding: 1.5rem;
 gap: 2rem;
}

.Upcoming-Post{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 1fr;
  
}

.Preview {
  grid-column: 2 / -1;
 grid-row: 1 / 2;
 font-size: 1.5rem;
 font-weight: bold;
}

.date{
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.platform-icon {
  border: 1px solid black;
 height: 4rem;
 width: 4rem;
 grid-column: 1 / 2;
 grid-row: 1 / -1;
 margin: auto;
 border-radius: 10px;
}

.buttons {
 display: flex;
 justify-content: space-between;
 gap: 0.5rem;
 margin-top: 1rem;
 
}

.buttons button {
  height: 70px;
  width: 15.625rem;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
}

.New-Post-Btn {
  background-color: #3773f7;
}

.Add-to-Calendar-Btn {
  background-color: rgb(119, 119, 119);
}

.Posts-By-Platform{
 grid-column: 2 / -1;
 grid-row: 2 / 4;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
 background-color: white;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 1.5rem;

 
}

 .Chart {
  margin: 2rem 2rem 2rem 0;
  width: 90%;
  height: 12.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  
  
}


.Chart ol {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  
  
}

.Chart ol li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}


.Most-Used-Tags{
  grid-column: 2 / -1;
  grid-row: 4 / -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  
}

.Tag{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

.Tag-name {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}




/**********************/

                        
.Calendar {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/************** Editor Page **************/


.Editor-Page {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  margin: 2rem;
  padding:0;
  height: 30rem;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  border-top: 1rem solid white;
  
  
}

.Write-Post {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  height: 50%;
  width: 65%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
 
  
}

.Write-Post p {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin:0;
  
  padding: 1rem;
background-color: rgb(222, 222, 222);
  height: 3.125rem;

}


.Write-Post textarea {
  border: none;
  outline: none;
  box-shadow: none;
  resize: none; 
  background-color: transparent; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  height: calc(100% - 3.125rem);
  width: 100%;
  margin-top:0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.Add-Image{
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
border-radius: 10px;
margin-left: 1rem;
height: 30%;
width: 65%;
text-align: center;
display: flex;
bottom: 0;

}


.Add-Image span{

border-radius: 10px;
margin: auto;

}

.Platform-And-Date{
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
width: 25%;
height: 30%;
position: absolute;
top: 7rem;
right: 1rem;
border-radius: 10px;

}

.Write-Post-Buttons{
background-color: rgb(222, 222, 222);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
height: 12%;
width: 100%;
display:flex;
justify-content: end;
align-items: center;
gap: 0.5rem;
padding-right: 2rem;
position:absolute;
bottom: 0;
}

.Write-Post-Buttons button {
  height: 70%;
  border-radius: 5px;
  border: 0;
}

.Save-as-Draft-Btn {
  background-color: rgb(165, 165, 165);
}

.Schedule-Post-Btn {
 background-color: #3773f7;
}

