* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: "Inter", sans-serif;
    height: 100vh;
    max-width: 100vw;
    
    
   
}


.layout main {
    padding-left: 15.625rem;
    max-width: 100vw;
    min-height: 100vh;
    margin-top: 6.875rem;
    background-color: #f5f5f5;
    
}




/*fix the horizontal scrollbar issue*/
/************** SideBar **************/



.sidebar {
    position: fixed;
    width: 15.625rem;
    height: 100vh;
    background-color: #2c2b27;
    color: white;
    padding: 1.25rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo-name {
    margin-bottom: 2.5rem;
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  width: 3.125rem;
  height: 3.125rem;
}


.navigation-bar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1.25rem;
    margin-top: 1.875rem;
    

}


  .sidebar a {
  
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.875rem 0.625rem 0.3125rem;
    transition: background-color 0.3s;
    display:flex;
    align-items: center;
    
}

.sidebar-icon{

    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
    
}


.navigation-bar a:hover, .settings a:hover {
    background-color: #44433f;
}
/****************/
.settings {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 80%;
    bottom: 1.25rem ;
}
.settings a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 0.3125rem 0.625rem 0.3125rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.night-mode {
 
  display: flex;
  align-items: center;
}


/************** TopBar **************/


.topbar {
 background-color: #2c2b00;
 display: flex;
 justify-content: space-between;
 align-items: center;
 top: 0;
 position: fixed;
 right: 0;
 height: 6.875rem;
 width: calc(100% - 15.625rem);
 padding: 0 1.25rem;
}

.topbar h1 {
    color: white;
    font-size: 1.5rem;
}

.topbar-elements {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topbar-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;

}


.search-bar {
    height: 1.5rem;
    width: 10em;

}



/************** Dashboard **************/

.Dashboard-page {
  
  border: 10px solid blue;
  gap: 1.875rem;
  margin:auto;
  padding-top:6.875rem;
  width: 100%;
  display: grid;
  grid-template-rows:1fr 3fr;
  grid-template-columns:1fr 1fr 1fr 1fr;
  justify-content: center;;
}



/*.Cards {
  border: 10px solid pink;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  grid-row: 1 / 2;
}*/

.Card {
  border: 1px solid black;
  grid-column: span 1;
  grid-row: span 1;
}

.Upcoming-Posts {
 border: 1px solid black;
 grid-column: span 2;
 grid-row: 2 / 4;
}
.Posts-By-Platform{
 border: 1px solid green;
 grid-column: span 2;
 grid-row: 2 / 3;
}

.Most-Used-Tags{
  border: 1px solid pink;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}




.Chart {
  border: 1px solid mediumvioletred;
  width: 300px;
  height: 300px;
  width: 90%;
  
}














